.tab-category{
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  height: 50px;
  padding: 0 15px;
  margin-bottom: 15px;
  display: flex;
  &-btn{
    @include font(14, 400, #aaa, 21);
    height: 30px !important;
    border-radius: 4px;
    padding: 5px 10px 4px;
    border: 1px solid #eee;
    margin-right: 8px;
    flex: 0 0 auto;
    width: auto !important;
    box-sizing: border-box;
  }
  &::-webkit-scrollbar{
    display: none;
  }
  .swiper-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: auto;
  }
  .swiper-slide-active{
    font-weight: 700;
    color: #000;
    border: 1px solid #000;
  }
}